build/e_atan2.d
build/e_atan2.lo
build/e_atan2.o
build/e_log.d
build/e_log.lo
build/e_log.o
build/e_pow.d
build/e_pow.lo
build/e_pow.o
build/e_rem_pio2.d
build/e_rem_pio2.lo
build/e_rem_pio2.o
build/e_sqrt.d
build/e_sqrt.lo
build/e_sqrt.o
build/k_cos.d
build/k_cos.lo
build/k_cos.o
build/k_rem_pio2.d
build/k_rem_pio2.lo
build/k_rem_pio2.o
build/k_sin.d
build/k_sin.lo
build/k_sin.o
build/libSDL2_test.a
build/libSDL2.la
build/libSDL2main.a
build/s_atan.d
build/s_atan.lo
build/s_atan.o
build/s_copysign.d
build/s_copysign.lo
build/s_copysign.o
build/s_cos.d
build/s_cos.lo
build/s_cos.o
build/s_fabs.d
build/s_fabs.lo
build/s_fabs.o
build/s_floor.d
build/s_floor.lo
build/s_floor.o
build/s_scalbn.d
build/s_scalbn.lo
build/s_scalbn.o
build/s_sin.d
build/s_sin.lo
build/s_sin.o
build/SDL_assert.d
build/SDL_assert.lo
build/SDL_assert.o
build/SDL_atomic.d
build/SDL_atomic.lo
build/SDL_atomic.o
build/SDL_audio.d
build/SDL_audio.lo
build/SDL_audio.o
build/SDL_audiocvt.d
build/SDL_audiocvt.lo
build/SDL_audiocvt.o
build/SDL_audiodev.d
build/SDL_audiodev.lo
build/SDL_audiodev.o
build/SDL_audiotypecvt.d
build/SDL_audiotypecvt.lo
build/SDL_audiotypecvt.o
build/SDL_blendfillrect.d
build/SDL_blendfillrect.lo
build/SDL_blendfillrect.o
build/SDL_blendline.d
build/SDL_blendline.lo
build/SDL_blendline.o
build/SDL_blendpoint.d
build/SDL_blendpoint.lo
build/SDL_blendpoint.o
build/SDL_blit_0.d
build/SDL_blit_0.lo
build/SDL_blit_0.o
build/SDL_blit_1.d
build/SDL_blit_1.lo
build/SDL_blit_1.o
build/SDL_blit_A.d
build/SDL_blit_A.lo
build/SDL_blit_A.o
build/SDL_blit_auto.d
build/SDL_blit_auto.lo
build/SDL_blit_auto.o
build/SDL_blit_copy.d
build/SDL_blit_copy.lo
build/SDL_blit_copy.o
build/SDL_blit_N.d
build/SDL_blit_N.lo
build/SDL_blit_N.o
build/SDL_blit_slow.d
build/SDL_blit_slow.lo
build/SDL_blit_slow.o
build/SDL_blit.d
build/SDL_blit.lo
build/SDL_blit.o
build/SDL_bmp.d
build/SDL_bmp.lo
build/SDL_bmp.o
build/SDL_clipboard.d
build/SDL_clipboard.lo
build/SDL_clipboard.o
build/SDL_clipboardevents.d
build/SDL_clipboardevents.lo
build/SDL_clipboardevents.o
build/SDL_cpuinfo.d
build/SDL_cpuinfo.lo
build/SDL_cpuinfo.o
build/SDL_drawline.d
build/SDL_drawline.lo
build/SDL_drawline.o
build/SDL_drawpoint.d
build/SDL_drawpoint.lo
build/SDL_drawpoint.o
build/SDL_dropevents.d
build/SDL_dropevents.lo
build/SDL_dropevents.o
build/SDL_dummy_main.d
build/SDL_dummy_main.lo
build/SDL_dummy_main.o
build/SDL_egl.d
build/SDL_egl.lo
build/SDL_egl.o
build/SDL_error.d
build/SDL_error.lo
build/SDL_error.o
build/SDL_events.d
build/SDL_events.lo
build/SDL_events.o
build/SDL_fillrect.d
build/SDL_fillrect.lo
build/SDL_fillrect.o
build/SDL_gamecontroller.d
build/SDL_gamecontroller.lo
build/SDL_gamecontroller.o
build/SDL_gesture.d
build/SDL_gesture.lo
build/SDL_gesture.o
build/SDL_getenv.d
build/SDL_getenv.lo
build/SDL_getenv.o
build/SDL_haptic.d
build/SDL_haptic.lo
build/SDL_haptic.o
build/SDL_hints.d
build/SDL_hints.lo
build/SDL_hints.o
build/SDL_iconv.d
build/SDL_iconv.lo
build/SDL_iconv.o
build/SDL_joystick.d
build/SDL_joystick.lo
build/SDL_joystick.o
build/SDL_keyboard.d
build/SDL_keyboard.lo
build/SDL_keyboard.o
build/SDL_log.d
build/SDL_log.lo
build/SDL_log.o
build/SDL_malloc.d
build/SDL_malloc.lo
build/SDL_malloc.o
build/SDL_mixer.d
build/SDL_mixer.lo
build/SDL_mixer.o
build/SDL_mouse.d
build/SDL_mouse.lo
build/SDL_mouse.o
build/SDL_pixels.d
build/SDL_pixels.lo
build/SDL_pixels.o
build/SDL_power.d
build/SDL_power.lo
build/SDL_power.o
build/SDL_psl1ghtaudio.d
build/SDL_psl1ghtaudio.lo
build/SDL_psl1ghtaudio.o
build/SDL_PSL1GHTevents.d
build/SDL_PSL1GHTevents.lo
build/SDL_PSL1GHTevents.o
build/SDL_PSL1GHTkeyboard.d
build/SDL_PSL1GHTkeyboard.lo
build/SDL_PSL1GHTkeyboard.o
build/SDL_PSL1GHTmodes.d
build/SDL_PSL1GHTmodes.lo
build/SDL_PSL1GHTmodes.o
build/SDL_PSL1GHTmouse.d
build/SDL_PSL1GHTmouse.lo
build/SDL_PSL1GHTmouse.o
build/SDL_PSL1GHTrender.d
build/SDL_PSL1GHTrender.lo
build/SDL_PSL1GHTrender.o
build/SDL_PSL1GHTvideo.d
build/SDL_PSL1GHTvideo.lo
build/SDL_PSL1GHTvideo.o
build/SDL_qsort.d
build/SDL_qsort.lo
build/SDL_qsort.o
build/SDL_quit.d
build/SDL_quit.lo
build/SDL_quit.o
build/SDL_rect.d
build/SDL_rect.lo
build/SDL_rect.o
build/SDL_render_d3d.d
build/SDL_render_d3d.lo
build/SDL_render_d3d.o
build/SDL_render_gl.d
build/SDL_render_gl.lo
build/SDL_render_gl.o
build/SDL_render_gles.d
build/SDL_render_gles.lo
build/SDL_render_gles.o
build/SDL_render_gles2.d
build/SDL_render_gles2.lo
build/SDL_render_gles2.o
build/SDL_render_psp.d
build/SDL_render_psp.lo
build/SDL_render_psp.o
build/SDL_render_sw.d
build/SDL_render_sw.lo
build/SDL_render_sw.o
build/SDL_render.d
build/SDL_render.lo
build/SDL_render.o
build/SDL_RLEaccel.d
build/SDL_RLEaccel.lo
build/SDL_RLEaccel.o
build/SDL_rotate.d
build/SDL_rotate.lo
build/SDL_rotate.o
build/SDL_rwops.d
build/SDL_rwops.lo
build/SDL_rwops.o
build/SDL_shaders_gl.d
build/SDL_shaders_gl.lo
build/SDL_shaders_gl.o
build/SDL_shaders_gles2.d
build/SDL_shaders_gles2.lo
build/SDL_shaders_gles2.o
build/SDL_shape.d
build/SDL_shape.lo
build/SDL_shape.o
build/SDL_spinlock.d
build/SDL_spinlock.lo
build/SDL_spinlock.o
build/SDL_stdlib.d
build/SDL_stdlib.lo
build/SDL_stdlib.o
build/SDL_stretch.d
build/SDL_stretch.lo
build/SDL_stretch.o
build/SDL_string.d
build/SDL_string.lo
build/SDL_string.o
build/SDL_surface.d
build/SDL_surface.lo
build/SDL_surface.o
build/SDL_syscond.d
build/SDL_syscond.lo
build/SDL_syscond.o
build/SDL_sysfilesystem.d
build/SDL_sysfilesystem.lo
build/SDL_sysfilesystem.o
build/SDL_syshaptic.d
build/SDL_syshaptic.lo
build/SDL_syshaptic.o
build/SDL_sysjoystick.d
build/SDL_sysjoystick.lo
build/SDL_sysjoystick.o
build/SDL_sysloadso.d
build/SDL_sysloadso.lo
build/SDL_sysloadso.o
build/SDL_sysmutex.d
build/SDL_sysmutex.lo
build/SDL_sysmutex.o
build/SDL_syssem.d
build/SDL_syssem.lo
build/SDL_syssem.o
build/SDL_systhread.d
build/SDL_systhread.lo
build/SDL_systhread.o
build/SDL_systimer.d
build/SDL_systimer.lo
build/SDL_systimer.o
build/SDL_systls.d
build/SDL_systls.lo
build/SDL_systls.o
build/SDL_test_assert.d
build/SDL_test_assert.lo
build/SDL_test_assert.o
build/SDL_test_common.d
build/SDL_test_common.lo
build/SDL_test_common.o
build/SDL_test_compare.d
build/SDL_test_compare.lo
build/SDL_test_compare.o
build/SDL_test_crc32.d
build/SDL_test_crc32.lo
build/SDL_test_crc32.o
build/SDL_test_font.d
build/SDL_test_font.lo
build/SDL_test_font.o
build/SDL_test_fuzzer.d
build/SDL_test_fuzzer.lo
build/SDL_test_fuzzer.o
build/SDL_test_harness.d
build/SDL_test_harness.lo
build/SDL_test_harness.o
build/SDL_test_imageBlit.d
build/SDL_test_imageBlit.lo
build/SDL_test_imageBlit.o
build/SDL_test_imageBlitBlend.d
build/SDL_test_imageBlitBlend.lo
build/SDL_test_imageBlitBlend.o
build/SDL_test_imageFace.d
build/SDL_test_imageFace.lo
build/SDL_test_imageFace.o
build/SDL_test_imagePrimitives.d
build/SDL_test_imagePrimitives.lo
build/SDL_test_imagePrimitives.o
build/SDL_test_imagePrimitivesBlend.d
build/SDL_test_imagePrimitivesBlend.lo
build/SDL_test_imagePrimitivesBlend.o
build/SDL_test_log.d
build/SDL_test_log.lo
build/SDL_test_log.o
build/SDL_test_md5.d
build/SDL_test_md5.lo
build/SDL_test_md5.o
build/SDL_test_random.d
build/SDL_test_random.lo
build/SDL_test_random.o
build/SDL_thread.d
build/SDL_thread.lo
build/SDL_thread.o
build/SDL_timer.d
build/SDL_timer.lo
build/SDL_timer.o
build/SDL_touch.d
build/SDL_touch.lo
build/SDL_touch.o
build/SDL_video.d
build/SDL_video.lo
build/SDL_video.o
build/SDL_wave.d
build/SDL_wave.lo
build/SDL_wave.o
build/SDL_windowevents.d
build/SDL_windowevents.lo
build/SDL_windowevents.o
build/SDL_yuv_mmx.d
build/SDL_yuv_mmx.lo
build/SDL_yuv_mmx.o
build/SDL_yuv_sw.d
build/SDL_yuv_sw.lo
build/SDL_yuv_sw.o
build/SDL.d
build/SDL.lo
build/SDL.o
build/.libs/libSDL2.a
build/.libs/libSDL2.la
build/.libs/libSDL2.lai

config.log
config.status
libtool
Makefile
Makefile.rules
sdl2-config
sdl2.pc
